<style>
    input[type="checkbox"]  {
        display: none;
    }
    body {background-color: coral;}
</style>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="ISO-8859-1">
    <title>Sign Up - CodeJava</title>
    <link rel="stylesheet" type="text/css" href="/webjars/bootstrap/css/bootstrap.min.css" />
    <script type="text/javascript" src="/webjars/jquery/jquery.min.js"></script>
    <script type="text/javascript" src="/webjars/bootstrap/js/bootstrap.min.js"></script>
    <script>
        function change(x, id, _this) {
            console.log($('input[type=checkbox]:checked').length);
            if ($('input[type=checkbox]:checked').length === 1) {
                var elem = document.getElementById("captain");
                document.getElementById(id).innerHTML = '<input type="checkbox" name="memberName" value="' + id + '" onchange="change(' + id + ', \'' + id + '\', this)" checked><img src="icon_' + id + '_captain.png" width="150" height="150">';
                elem.value = id;
                console.log(elem.value);
            }else if ($('input[type=checkbox]:checked').length > 5) {
                alert("allowed only 5");
                _this.checked = false;
                document.getElementById(id).innerHTML = '<input type="checkbox" name="memberName" value="' + id + '" onchange="change(' + id + ', \'' + id + '\', this)"><img src="icon_' + id + '.png" width="150" height="150">';
            }else{
                if (_this.checked) {
                    document.getElementById(id).innerHTML = '<input type="checkbox" name="memberName" value="' + id + '" onchange="change(' + id + ', \'' + id + '\', this)" checked><img src="icon_' + id + '_member.png" width="150" height="150">';
                } else  {
                    document.getElementById(id).innerHTML = '<input type="checkbox" name="memberName" value="' + id + '" onchange="change(' + id + ', \'' + id + '\', this)"><img src="icon_' + id + '.png" width="150" height="150">';
                }
            }
        }
    </script>
</head>
<body style="background-color: coral;">
<div class="container text-center">
    <div>
        <h1>Benvenuto, crea la tua squadra</h1>
    </div>

    <form method="post" th:action="@{/newTeam}" th:object="${teams}">
        <label id="Hongjoong"><input type="checkbox" name="memberName" value="Hongjoong" onchange="change(Hongjoong, 'Hongjoong', this)"><img src="icon_Hongjoong.png" width="150" height="150" style="background: transparent;"/></label>
        <label id="Seonghwa"><input type="checkbox" name="memberName" value="Seonghwa" onchange="change(Seonghwa, 'Seonghwa', this)"><img src="icon_Seonghwa.png" width="150" height="150"/></label>
        <label id="Yunho"><input type="checkbox" name="memberName" value="Yunho" onchange="change(Yunho, 'Yunho', this)"><img src="icon_Yunho.png" width="150" height="150"/></label>
        <label id="Yeosang"><input type="checkbox" name="memberName" value="Yeosang" onchange="change(Yeosang, 'Yeosang', this)"><img src="icon_Yeosang.png" width="150" height="150"/></label><br>
        <label id="Mingi"><input type="checkbox" name="memberName" value="Mingi" onchange="change(Mingi, 'Mingi', this)"><img src="icon_Mingi.png" width="150" height="150"/></label>
        <label id="San"><input type="checkbox" name="memberName" value="San" onchange="change(San, 'San', this)"><img src="icon_San.png" width="150" height="150"/></label>
        <label id="Wooyoung"><input type="checkbox" name="memberName" value="Wooyoung" onchange="change(Wooyoung, 'Wooyoung', this)"><img src="icon_Wooyoung.png" width="150" height="150"/></label>
        <label id="Jongho"><input type="checkbox" name="memberName" value="Jongho" onchange="change(Jongho, 'Jongho', this)"><img src="icon_Jongho.png" width="150" height="150"/></label>
        <input type="hidden" id="captain" name="captain" value="">
        <input type="hidden" id="idUser" name="idUser" th:value="${idUser}">
        <br><br>Il primo membro selezionato sar&agrave; il capitano della tua squadra!<br><br>
        <input type="text" id="teamName" name="teamName" placeholder="Inserisci il nome della tua squadra">
        <input type="submit">
    </form>
</div>
</body>
</html>