<style>
    .container {
        position: relative;
        text-align: center;
        color: white;
    }

    #grad1 {
        background-image: linear-gradient(black, #7800ff);
    }

    .navbar.bg-dark{
        background-color: black !important;
    }

    td{
        font-size: 1vw;
        color: white;
        padding-right: 5vw;
        text-align: center;
        vertical-align: middle;
    }

    .header{
        padding-bottom: 0.5vw;
        padding-top: 0.5vw;
    }
</style>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="ISO-8859-1">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>FantAteez</title>
    <link rel="stylesheet" type="text/css" href="/webjars/bootstrap/css/bootstrap.min.css" />
    <script type="text/javascript" src="/webjars/jquery/jquery.min.js"></script>
    <script type="text/javascript" src="/webjars/bootstrap/js/bootstrap.min.js"></script>
</head>
<body id="grad1">
<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <div class="container-fluid">
        <a class="navbar-brand"><img src="FANTATEEZ.png" style="max-width:40%;height:auto;"></a>
        <a class="btn navbar-btn" role="button" aria-current="page" th:href="@{/yourTeam}" style="color: white;">Il tuo Team</a>
        <a class="btn navbar-btn" role="button" aria-current="page" th:href="@{/bonusList}" style="color: white;">Lista bonus</a>
        <a class="btn navbar-btn" role="button" aria-current="page" href="https://t.me/+OAYgK_L-6cg5NzY0" style="color: white;">FAQ</a>
        <a class="btn navbar-btn navbar-right" role="button" aria-current="page" th:href="@{/logout}" style="color: white;">Logout</a>
    </div>
</nav>
<div class="container text-center">
    <img src="classifica_utenti.png" style="max-width: 50%; margin: 0 auto;">
    <table th:with="mycounter = ${counter.get()}" align="center">
        <tr style="background-color: #7118b1">
            <td class="header" style="padding-left: 3vw;">POSIZIONE</td>
            <td class="header">UTENTE</td>
            <td class="header">TEAM</td>
            <td class="header">PUNTEGGIO</td>
        </tr>
        <tr th:each="user: ${userPlacing}" style="border-bottom: 2px solid #7118b1;">
            <td th:with="mycounter=${counter.incrementAndGet()}"><img th:src="${mycounter} + '.png'" height="30px"/></td>
            <td th:text="${user.username}" />
            <td th:text="${user.teamName}"/>
            <td th:text="${user.points}" />
        </tr>
    </table>
    <br><br>
    <img src="classifica_membri.png"  style="max-width: 50%; margin: 0 auto;">
    <table align="center" th:with="mycounter2 = ${counter2.get()}">
        <tr style="background-color: #7118b1">
            <td class="header" style="padding-left: 3vw;">POSIZIONE</td>
            <td class="header">MEMBRO</td>
            <td class="header">PUNTEGGIO</td>
        </tr>
        <tr th:each="member: ${membersPlacing}"  style="border-bottom: 2px solid #7118b1;">
            <td th:with="mycounter2=${counter2.incrementAndGet()}"><img th:src="${mycounter2} + '.png'" height="30px"/></td>
            <td th:text="${member.name}" />
            <td th:text="${member.score}"/>
        </tr>
    </table>
</div>
</body>
</html>