<style>
    #grad1 {
        background-image: linear-gradient(black, #7800ff);
    }
    label{
        color: white;
    }
    a {
        color: white !important;
        text-decoration: none !important;
    }

    a:hover {
        color:white !important;
        text-decoration:none !important;
        cursor:pointer;
    }

    p{
        padding-top: 20px;
        color: white;
        font-size: 20px;
    }

    .navbar.bg-dark{
        background-color: black !important;
    }
</style>
<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="ISO-8859-1">
    <title>FantAteez</title>
    <link rel="stylesheet" type="text/css" href="/webjars/bootstrap/css/bootstrap.min.css" />
    <script type="text/javascript" src="/webjars/jquery/jquery.min.js"></script>
    <script type="text/javascript" src="/webjars/bootstrap/js/bootstrap.min.js"></script>
</head>
<body id="grad1">
<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <div class="container-fluid">
        <a class="navbar-brand"><img src="FANTATEEZ.png" height="50px"></a>
    </div>
</nav>
<div class="container text-center">
    <div>
        <br><br>
        <img src="new_account.png" height="50px">
        <br><br>
    </div>
    <form th:action="@{/process_register}" th:object="${users}"
          method="post" style="max-width: 600px; margin: 0 auto;">
        <div class="m-3">
            <div class="form-group row">
                <label class="col-4 col-form-label">Email: </label>
                <div class="col-8">
                    <input type="text" th:field="*{email}" class="form-control" required />
                </div>
            </div>
            <div class="form-group row">
                <label class="col-4 col-form-label">Username: </label>
                <div class="col-8">
                    <input type="text" th:field="*{username}" class="form-control" required />
                </div>
            </div>

            <div class="form-group row">
                <label class="col-4 col-form-label">Password: </label>
                <div class="col-8">
                    <input type="password" th:field="*{password}" class="form-control"
                           required minlength="6" maxlength="20"/>
                </div>
            </div>

            <div>
                <button type="submit" class="btn btn-primary" style="background-color: #7118b1; border-color: #7118b1">Crea account</button>
            </div>
            <p>oppure</p>
            <div>
                <button type="submit" class="btn btn-primary" style="background-color: #7118b1; border-color: #7118b1"><a th:href="@{/login}">Accedi</a></button>
            </div>
        </div>
    </form>
</div>
</body>
</html>