<style>
    .bottom-left {
        position: absolute;
        bottom: 35px;
        left: 50px;
        font-size: 30px;
    }
    .container {
        position: relative;
        text-align: center;
        color: white;
    }

    #grad1 {
        background-image: linear-gradient(black, #7800ff);
    }

    .navbar.bg-dark{
        background-color: black !important;
    }
</style>
<html xmlns:th="http://www.thymeleaf.org">
    <head>
        <meta charset="ISO-8859-1">
        <title>FantAteez</title>
        <link rel="stylesheet" type="text/css" href="/webjars/bootstrap/css/bootstrap.min.css" />
        <script type="text/javascript" src="/webjars/jquery/jquery.min.js"></script>
        <script type="text/javascript" src="/webjars/bootstrap/js/bootstrap.min.js"></script>
    </head>
    <body id="grad1">
        <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
            <div class="container-fluid">
                <a class="navbar-brand"><img src="FANTATEEZ.png" height="50px"></a>
                <a class="btn navbar-btn" role="button" aria-current="page" th:href="@{/classifica}" style="color: white;">Classifica</a>
                <a class="btn navbar-btn" role="button" aria-current="page" th:href="@{/bonusList}" style="color: white;">Lista bonus</a>
                <a class="btn navbar-btn" role="button" aria-current="page" href="https://t.me/+OAYgK_L-6cg5NzY0" style="color: white;">FAQ</a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <a class="btn navbar-btn navbar-right" role="button" aria-current="page" th:href="@{/logout}" style="color: white;">Logout</a>
            </div>
        </nav>
        <div class="container text-center">
            <div>
                <h1 th:text="${header}"></h1>
            </div>
            <table>
                <tr th:each="member: ${scores}">

                    <td><div class="container"><div class="bottom-left"><span th:text="${member.score}"/></div><img th:src="${member.member_name} + '_banner.png'" width="900" height="100"/></div></td>
                </tr>
            </table>
<!--            <table>-->
<!--                <tr >-->
<!--                    <td id="class"><a th:href="@{/classifica}"><button class="btn btn-primary" style="background-color: #7118b1; border-color: #7118b1">Vedi classifica</button></a></td>-->
<!--                    <td id="help"><a href="https://t.me/+OAYgK_L-6cg5NzY0"><button class="btn btn-primary" style="background-color: #7118b1; border-color: #7118b1">Aiuto</button></a></td>-->
<!--                    <td id="bonus"><a th:href="@{/bonusList}"><button class="btn btn-primary" style="background-color: #7118b1; border-color: #7118b1">Lista bonus</button></a></td>-->
<!--                </tr>-->
<!--            </table>-->
        </div>
    </body>
</html>