<style>
    .bottom-left {
        position: absolute;
        bottom: 35px;
        left: 50px;
        font-size: 30px;
    }
    .container {
        position: relative;
        text-align: center;
        color: white;
    }

</style>
<html xmlns:th="http://www.thymeleaf.org">
    <head>
        <meta charset="ISO-8859-1">
        <title>Sign Up - CodeJava</title>
        <link rel="stylesheet" type="text/css" href="/webjars/bootstrap/css/bootstrap.min.css" />
        <script type="text/javascript" src="/webjars/jquery/jquery.min.js"></script>
        <script type="text/javascript" src="/webjars/bootstrap/js/bootstrap.min.js"></script>
        <script>
            function loadBanner(member_name) {
                console.log(member_name);
                document.getElementById(member_name).innerHTML = '<img src=' + member_name + '_banner.png">';
            }
        </script>
    </head>
    <body style="background-color: rebeccapurple;">
        <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
            <div class="container-fluid">
                <a class="navbar-brand">Spring Security Custom Login-Logout Example</a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                    <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                        <li class="nav-item">
                            <a class="nav-link active" aria-current="page" th:href="@{/logout}">Logout</a>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
        <div class="container text-center">
            <div>
                <h1 th:text="${header}"></h1>
            </div>
            <table>
                <tr th:each="member: ${scores}">

                    <td><div class="container"><div class="bottom-left"><span th:text="${member.score}"/></div><img th:src="${member.member_name} + '_banner.png'" width="900" height="100"/></div></td>
                </tr>
            </table>
            <a th:href="@{/bonusList}"><button class="btn btn-primary">Lista bonus</button></a>
            <table>
                <tr>
                    <td><a th:href="@{/classifica}"><button class="btn btn-primary">Vedi classifica</button></a></td>
                    <td><a href="https://t.me/+OAYgK_L-6cg5NzY0"><button class="btn btn-primary">Aiuto</button></a></td>
                </tr>
            </table>
        </div>
    </body>
</html>